@import url("https://use.typekit.net/ueh4gmu.css");
body {
  font-family: "Proxima Nova", Sans-Serif;
}

header nav .logo {
  position: relative;
  padding-left: 40px;
}

header nav .logo:before {
  content: '';
  background-image: url(../img/globe.svg);
  height: 27px;
  width: 27px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
}

header nav .connectButton {
  border-radius: 30px;
  background-color: #4468E2;
  padding: 4px 12px;
}

header nav .connectButton a {
  color: white;
  padding: 8px 16px;
}

header nav .connectButtonInBurgerMenu {
  display: none;
}

header nav .connectButtonInBurgerMenu a {
  color: #4468E2;
}

header nav .navLinkStyle {
  color: #1C4961 !important;
  opacity: 0.75;
}

header nav .navLinkStyle:hover {
  opacity: 1;
}

header nav .navActiveLinkStyle {
  color: #1C4961 !important;
}

header nav .blueButton {
  color: white !important;
  padding: 4px 8px;
  background-color: #4468E2;
  width: 104px;
  height: 30px;
  border-radius: 40px;
  text-align: center;
  line-height: 22px;
  margin-left: -22px;
}

@media (max-width: 991.98px) {
  header nav .connectButtonDisableOnMdScreen {
    display: none;
  }
  header nav .connectButtonInBurgerMenu {
    display: inline;
  }
}

.exploreNow .background {
  background-image: url(../img/background.jpg);
  height: 500px;
  background-size: cover;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .exploreNow .background {
    background-image: none;
    height: auto;
  }
}

.exploreNow .background .background__heading {
  height: 100%;
}

.exploreNow .background .background__heading h1, .exploreNow .background .background__heading p {
  color: white;
  text-align: center;
}

.exploreNow .background .background__heading h1 {
  font-family: "Montserrat", sans-serif;
}

.exploreNow .background .background__heading p {
  width: 60%;
}

@media (max-width: 767.98px) {
  .exploreNow .background .background__heading h1, .exploreNow .background .background__heading p {
    color: black;
  }
  .exploreNow .background .background__heading {
    margin-top: 70px;
  }
}

.exploreNow .background .inputs {
  background-color: rgba(255, 255, 255, 0.575);
}

.exploreNow .background .inputs .checkIn, .exploreNow .background .inputs .checkOut {
  border-left: 1px solid #B4C6EE;
}

.exploreNow .background .inputs .whereToGo, .exploreNow .background .inputs .checkIn, .exploreNow .background .inputs .checkOut {
  cursor: pointer;
}

@media (min-width: 768px) {
  .exploreNow .background .inputs .whereToGo, .exploreNow .background .inputs .checkIn, .exploreNow .background .inputs .checkOut {
    margin: 0 15px;
  }
}

@media (max-width: 767.98px) {
  .exploreNow .background .inputs {
    width: 90%;
  }
  .exploreNow .background .inputs .whereToGo, .exploreNow .background .inputs .checkIn, .exploreNow .background .inputs .checkOut {
    padding: 10px 0;
  }
  .exploreNow .background .inputs .checkIn, .exploreNow .background .inputs .checkOut {
    border-left: 0px;
    border-top: 1px solid #B4C6EE;
  }
}

.featuresList .featuresList_margin {
  margin-top: 90px;
}

.featuresList .featuresList__item {
  padding: 25px;
  height: 100%;
  -webkit-box-shadow: 7px 12px 15px 5px rgba(135, 135, 135, 0.1);
  box-shadow: 7px 12px 15px 5px rgba(135, 135, 135, 0.1);
}

.heading {
  margin-top: 180px;
  font-weight: 900;
}

.travel-types-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 90px;
}

.travel-types-list li {
  line-height: 40px;
}

.travel-types-list li:hover {
  border-bottom: 2.5px solid #163235;
}

.travel-types-list .travel-types-list_active {
  border-bottom: 2.5px solid #163235;
}

.destinations-stock .destinations-items_item {
  padding-top: 3rem;
}

.destinations-stock .destinations-items_item img {
  border-radius: 3%;
}

.destinations-stock .features img {
  height: 25px;
}

.destinations-stock .price {
  font-size: 1.7rem;
}

.destinations-stock h5 {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */