@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../assets/responsiveTypografy/responsiveTypography.scss';
@import url("https://use.typekit.net/ueh4gmu.css");

body {
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: "Proxima Nova", Sans-Serif;
  }

header {
    nav {
        .logo{
            position: relative;
            padding-left: 40px;

            &:before{
                content: '';
                background-image: url(../img/globe.svg);
                height: 27px;
                width: 27px;
                display: block;
                position: absolute;
                top: 5px;
                left: 0px;
            }
        }
        .connectButton {
            border-radius: 30px;
            background-color: #4468E2;
            padding: 4px 12px;
            

            a {
                color: white;
                padding: 8px 16px ;
            }
        } 
        .connectButtonInBurgerMenu {
            display: none;

            a {
                color:#4468E2;
            }
        }

        .navLinkStyle {
            color: #1C4961 !important;
            opacity: 0.75;

            &:hover{
                opacity: 1;
            }
        }

        .navActiveLinkStyle {
            color: #1C4961 !important;
        }

        .blueButton {
            color: white !important;
            padding: 4px 8px;
            background-color: #4468E2;
            width: 104px;
            height: 30px;
            border-radius: 40px;
            text-align: center;
            line-height: 22px;
            margin-left: -22px;
        }

        @include media-breakpoint-down(lg) {
            .connectButtonDisableOnMdScreen {
                display: none;
            }

            .connectButtonInBurgerMenu {
                display: inline;
            }
        }
    }
}

.exploreNow {

    .background {
        background-image: url(../img/background.jpg);
        height: 500px;
        background-size: cover;
        // filter: brightness(90%);
        border-radius: 10px;

        @include media-breakpoint-down(md){
            & {
                background-image: none;
                height: auto;
            }
        }

        .background__heading {
            height: 100%;

            h1, p {
               color: white;
               text-align: center;
            }

            h1 {
                font-family: "Montserrat", sans-serif;
            }

            p {
                width: 60%;
            }

            @include media-breakpoint-down(md){
                h1, p {
                    color: black;
                }

                & {
                    margin-top: 70px;
                }
            }
        }

        .inputs {
            background-color: rgba(255, 255, 255, 0.575);
            // width: 60%;

            .checkIn, .checkOut{
                border-left: 1px solid #B4C6EE;
            }

            .whereToGo, .checkIn, .checkOut{
                cursor: pointer;
            }
            
            @include media-breakpoint-up(md){
                .whereToGo, .checkIn, .checkOut {
                    margin: 0 15px;
                }
            }

            @include media-breakpoint-down(md){
                & {
                    width: 90%;
                }

                .whereToGo, .checkIn, .checkOut {
                    // margin: 15px 0;
                    padding: 10px 0;
                }

                .checkIn, .checkOut{
                    border-left: 0px;
                    border-top: 1px solid #B4C6EE;
                }

            }
        }
    }
}

.featuresList {


    // flex-wrap: wrap;

    .featuresList_margin {
        margin-top: 90px;
    }

    .featuresList__item{
        padding: 25px;
        // border: 1px solid green;
        height: 100%;
        -webkit-box-shadow: 7px 12px 15px 5px rgba(135,135,135,0.1); 
        box-shadow: 7px 12px 15px 5px rgba(135,135,135,0.1);
    }
}


.heading {
    margin-top: 180px;
    font-weight: 900;
}

.travel-types-list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 90px;

    li {
        line-height: 40px;

        &:hover {
            border-bottom: 2.5px solid #163235;
        }
    }

    .travel-types-list_active {
        border-bottom: 2.5px solid #163235;
    }
}

.destinations-stock {

    .destinations-items_item{
        padding-top: 3rem;

        img {
            border-radius: 3%;
        }
    }

    .features {
        img {
            height: 25px;
        }
    }

    .price {
        font-size: 1.7rem;
    }

    h5 {
        margin-top: 10px;
    }
}